/*
White: FFFFFF;
Dark Blue: 2B57A1;
Medium Blue: 537AD3;
Orange: EFA03E;
Green: 1BBFAB;
Lime: #7FBA49;
Purple: 3E41A8;
*/

*{margin:0; padding:0;}

body {
    width: 98.5%; /* TODO: make 900 ?*/
    padding:0.75%;
    font-size: 1em;
}

nav {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    //margin:0.75% 0.75% 0%;
}

.logo {
    color: #FFFFFF;  /* white */
    font-size: 185%;
    font-family: 'Nunito', sans-serif;
}

.nav-links{display: flex;justify-content: space-between;flex-basis:17%;}

.nav-links a {
    color: #FFFFFF;  /* white */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    //margin-left: 20px;
}

header {
    color: #FFFFFF;  /* white */
    padding: 4% 2%;
    background-color: #2B57A1;  /* dark blue */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 420%;
    font-family: 'Poppins', sans-serif;
    line-height: 126%;
    //margin: 10px;
}

.dog-showcase {
    width: 41%;
    height: 50%;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 8px solid #537AD3;
}

.dog-showcase img {
    width: 75%;
    margin: -10% 0% 0% 13%;
}

section {
    padding: 2% 4%;
}

h2 {
    font-size: 180%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

section h2 {
    text-align: center;
}

.pups-container {
    margin: 3% 1% 0%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pup-wrapper {
    width: 44%;
    height: 24.9%;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    overflow: hidden;
    margin-bottom: 2.2%;
}

.pup-pic {
    width: 50%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
}

#pup-1 {
    border: 3px solid #1BBFAB;  /* green */
}

#pup-1 .pup-pic {
    background-image: url('./images/pup_1.jpeg');
}

#pup-2 {
    border: 3px solid #3E41A8;  /* purple */
}

#pup-2 .pup-pic {
    background-image: url('./images/pup_2.webp');
}

#pup-3 {
    border: 3px solid #7FBA49;  /* lime */
}

#pup-3 .pup-pic {
    background-image: url('./images/cat_1.jpeg');
}

#pup-4 {
    border: 3px solid #EFA03E;  /* orange */
}

#pup-4 .pup-pic {
    background-image: url('./images/pup_4.jpg');
}

.pup-info {
    padding: 2.5% 5%;
}

.pup-name {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 112.3%;
}

.pup-byline,
.pup-location {
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}
/*------------------------Mobile ------------------*/

@media screen and (min-width:319px)
{
  .logo{font-size:140%;}
  .nav-links{flex-basis:37%;font-size:70%;}
  header{padding:6% 2%;}
  #main h1{font-size:130%;line-height:180%;}
  .dog-showcase { width: 41%; height: 17%; order:-1; }
  .dog-showcase img {  min-width: 100%;  margin: -6% 0% 0% -3%;  height: 98%;}
  h2{font-size:110%;}
  .pup-wrapper { width: 85%; height: 34%; flex-direction: column; margin-bottom: 6%;}
  .pup-pic {  min-width: 100%;  height: 70%;}
  .pup-info { padding: 4.5% 5%; }
  footer{flex-direction:column; justify-content: center;align-items: center;padding:2% 0%;}
}
/*------------------Tablet--------------------*/
@media screen and (min-width:599px)
{
  .logo{font-size:150%;}
  .nav-links{flex-basis:24%;font-size:80%;}
  header{padding:6% 2%;}
  #main h1{font-size:185%;line-height:200%;}
  .dog-showcase { width: 44%; height: 23%; order:2;}
  .dog-showcase img {  min-width: 92%;  margin: -3% 0% 0% 4%;  height: 97%;}
  h2{font-size:120%;}
  .pup-wrapper { flex-basis:40%;}
  .pup-pic {  min-width: 100%;  height: 70%;}
  .pup-info { padding: 4.5% 5%; }
  footer{flex-direction:row; justify-content:space-around; align-items: center;padding:2% 0%;}
}
/*------------------Tablet--------------------*/
@media screen and (min-width:1023px)
{
  .logo{font-size:200%;}
  .nav-links{flex-basis:22%;font-size:110%;}
  header{padding:5% 0%;}
  #main h1{font-size:230%;line-height:200%;}
  .dog-showcase { width: 44%; height: 54%; order:2;}
  .dog-showcase img {  min-width: 88%;  margin: -3% 0% 0% 4%;  height: 97%;}
  h2{font-size:150%;}
  .pups-container{flex-direction:row;}
  .pup-wrapper { flex-basis:46%;flex-direction:row;}
  .pup-pic {  min-width: 50%;  height: auto;}
  .pup-info { padding: 4.5% 5%; }
  footer{flex-direction:row; justify-content:space-around; align-items: center;padding:2% 0%;}
}
